html {
    color: black;
    margin: 0 auto;
    text-align: center;
    font-family: 'Cinzel', serif;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}


a:hover {
  color:gray;
}


nav {
  float: left;
  width: 100%;
  display: block; 
  text-align: center;
  clear: both;

}

/*nav {
  width: 100%;
  text-align: center;
}*/

ul {
  text-align: 
}


ul li {
  display: inline-block;
  font-size: 30px;
  margin: 10px;    
}


h1 {
  font-size: 40px;
}

.header {
  width: 100%; 
  clear: both;
}


.artistpic {
  float: left;
  width: 300px;
  margin-right: 15px;
}

#eye {
  text-align: center;
}

.bio {
  font-size: 20px;
}

.left-col, .right-col {
  float: left;
  width: 50%;
  padding: 15px;
  box-sizing: border-box;
}

.mouse {
  display: none;
  font-size: 15px;
  float: left;
  cursor: pointer;

}

.footer {
  color: gray;
  
}

 @media (max-width: 900px) {
        .mouse {
          font-size: 15px;
          display: block;
          text-align: center;
          width:100%;
          padding-bottom: 10px;
        }

        ul {
          display: none;
          width: 100%;
          margin-left: -50px;
        }

        ul li {
          width: 100%;
        }
      }
  
