html {
   /* background: url("images/whitebackground.jpg") no-repeat center center fixed;
    background-color: #000;
    background-size: cover;*/
    color: black;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    font-family: 'Cinzel', serif;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}


a:hover {
  color:gray;
}


nav {
  float: left;
  width: 100%;
  display: block; 
  text-align: center;
  clear: both;

}


ul {
  text-align: 
}


ul li {
  display: inline-block;
  font-size: 30px;
  margin: 10px;    
}


h1 {
  font-size: 40px;
}

h2 {
  text-align: center;
}

.header {
  width: 100%; 
  clear: both;
}


#eye {
  text-align: center;
}

.bio {
  font-size: 20px;
}

.contact {
  height: 500px;
}

.left-col, .right-col {
  float: left;
  padding: 15px;
  text-align: left;
  box-sizing: border-box;
}

.left-col {
  width: 60%;
}

.right-col {
  width: 40%; 

}

.mouse {
  display: none;
  font-size: 15px;
  float: left;
  cursor: pointer;

}

.footer {
  color: gray;
}

.thumbnail {
  width: 200px;
  margin: 10px;
}

.socialmedia {
  float: left;
  height: 100px;
  text-align: center;
  width:100%;
  margin: 10px;
  clear:both;
}

.contact {
  padding: 10px;
}

 @media (max-width: 800px) {
        .mouse {
          font-size: 15px;
          display: block;
          text-align: center;
          width:100%;
          padding-bottom: 10px;
        }

        ul {
          display: none;
          width: 100%;
          margin-left: -50px;
        }

        ul li {
          width: 100%;
        }

        .thumbnail {
          width: 150px;
          margin: 4px;
        }
      }
  
